<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Combined Page</title>
<style>
/* Style the table */
table {
  width: 100%;
 /*  border-collapse: collapse; */
}

/* Style the table header */
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


/* Apply alternative background colors to table columns */
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Even columns */
}



/* Style the table header on small screens */
@media screen and (max-width: 600px) {
  th, td {
    display: block;
    width: 100%;
  }
}
</style>
</head>
<body>
    <div id="executedOrdersContent" >
        <h1>Executed Orders</h1>
        <table>
             <tr style="background-color: Green;">
            <th>Time</th>
            <th>Type</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Average Price</th>
            <th>Average Value</th>
        </tr>
        {% for order in orders %}
        <tr style="background-color: Yellow;">
            <td>{{ order.time }}</td>
            <td>{{ order.type }}</td>
            <td>{{ order.Stock }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.AVG_price }}</td>
            <td>{{ order.AVG_cost }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>

</body>
</html>
</html>
